
<div class="container">
<h1>Listado Empleados! - se ve asi por que usamos bootstrap</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Sueldo</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let empleado of empleados">
            <th scope="row">{{empleado.id}}</th>
            <td >{{empleado.nombre}}</td>
            <td >{{empleado.sueldo}}</td>
            <td *ngIf="empleado.activo; else elseBlock">Activo</td>
            <ng-template #elseBlock >Inactivo</ng-template> 
            <td>
                <button type="button" class="btn btn-primary">Editar</button>&nbsp;
                <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
</div>